#heading{
  font-size: 64px;
  transition: 4s;
  opacity: 0;
  background-image: linear-gradient(
    40deg,
    rgb(37,47,255) 0%,
    rgb(124, 192, 226) 100%,
    rgb(37,47,255) 200%
  );
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
}

#paragraph{
  font-size: 21px;
  color: grey;
  line-height: 1.4;
}

body{
  padding: 70vh 1rem;
  background: black;
  font-weight: 600;
}